<h1>New Goals!</h1>
<form action="<%= goals_url %>" method="POST">
  <input type="hidden" 
    name="authenticity_token" 
    value="<%= form_authenticity_token %>">
    <label>Title  
      <input type="text" name="goal[title]" value="<%= @goal.title %>">
    </label>
    <br>
    <label>Body
      <input name="goal[body]" value="<%= @goal.body %>">
    </label>
    <br>
    <input type="checkbox" name="goal[private?]" value="true">Private<br>
    <input type="submit" value="Submit">
</form>